In [1]:
using JuMP
using GLPK
using DataFrames
using LinearAlgebra: dot

In [2]:
ORDER = 500

ELEMENTS = ["Carbon", "Cooper", "Manganese"]

GRADES = DataFrame(elem = ELEMENTS, 
    min = [2, 0.4, 1.2], 
    max = [3, 0.6, 1.65])

RAW = DataFrame(material = ["Iron alloy 1", "Iron alloy 2", "Iron alloy 3", "Cooper alloy 1", "Cooper alloy 2", "Aluminium alloy 1", "Aluminium alloy 2"],
    Carbon = [2.5, 3, 0, 0, 0, 0, 0],
    Cooper = [0, 0, 0.3, 90, 96, 0.4, 0.6],
    Manganese = [1.3, 0.8, 0, 0, 4, 1.2, 0],
    Availability = [400, 300, 600, 500, 200, 300, 250],
    Cost = [200, 250, 150, 220, 240, 200, 165])

7×6 DataFrame. Omitted printing of 1 columns
│ Row │ material          │ Carbon  │ Cooper  │ Manganese │ Availability │
│     │ String            │ Float64 │ Float64 │ Float64   │ Int64        │
├─────┼───────────────────┼─────────┼─────────┼───────────┼──────────────┤
│ 1   │ Iron alloy 1      │ 2.5     │ 0.0     │ 1.3       │ 400          │
│ 2   │ Iron alloy 2      │ 3.0     │ 0.0     │ 0.8       │ 300          │
│ 3   │ Iron alloy 3      │ 0.0     │ 0.3     │ 0.0       │ 600          │
│ 4   │ Cooper alloy 1    │ 0.0     │ 90.0    │ 0.0       │ 500          │
│ 5   │ Cooper alloy 2    │ 0.0     │ 96.0    │ 4.0       │ 200          │
│ 6   │ Aluminium alloy 1 │ 0.0     │ 0.4     │ 1.2       │ 300          │
│ 7   │ Aluminium alloy 2 │ 0.0     │ 0.6     │ 0.0       │ 250          │

In [3]:
GRADES

3×3 DataFrame
│ Row │ elem      │ min     │ max     │
│     │ String    │ Float64 │ Float64 │
├─────┼───────────┼─────────┼─────────┤
│ 1   │ Carbon    │ 2.0     │ 3.0     │
│ 2   │ Cooper    │ 0.4     │ 0.6     │
│ 3   │ Manganese │ 1.2     │ 1.65    │

In [4]:
m, n = size(RAW)

(7, 6)

In [5]:
alloy = Model(GLPK.Optimizer)
@variable(alloy, material[1:m] >= 0)
@objective(alloy, Min, dot(RAW.Cost, material))

# minimum and maximum needed of each elements
@constraint(alloy, carbon, GRADES[1,2] * ORDER / 100 <= material' * RAW.Carbon / 100 <= GRADES[1,3] * ORDER / 100)
@constraint(alloy, cooper, GRADES[2,2] * ORDER / 100 <= material' * RAW.Cooper / 100 <= GRADES[2,3] * ORDER / 100)
@constraint(alloy, manganese, GRADES[3,2] * ORDER / 100 <= material' * RAW.Manganese / 100 <= GRADES[3,3] * ORDER / 100)

# availability
@constraint(alloy, material .<= RAW.Availability)

# meet demand
@constraint(alloy, sum(material) >= ORDER);

In [6]:
println(alloy)

Min 200 material[1] + 250 material[2] + 150 material[3] + 220 material[4] + 240 material[5] + 200 material[6] + 165 material[7]
Subject to
 material[1] + material[2] + material[3] + material[4] + material[5] + material[6] + material[7] >= 500.0
 material[1] <= 400.0
 material[2] <= 300.0
 material[3] <= 600.0
 material[4] <= 500.0
 material[5] <= 200.0
 material[6] <= 300.0
 material[7] <= 250.0
 carbon : 0.025 material[1] + 0.03 material[2] in [10.0, 15.0]
 cooper : 0.003 material[3] + 0.9 material[4] + 0.96 material[5] + 0.004 material[6] + 0.006 material[7] in [2.0, 3.0]
 manganese : 0.013000000000000001 material[1] + 0.008 material[2] + 0.04 material[5] + 0.012 material[6] in [6.0, 8.25]
 material[1] >= 0.0
 material[2] >= 0.0
 material[3] >= 0.0
 material[4] >= 0.0
 material[5] >= 0.0
 material[6] >= 0.0
 material[7] >= 0.0

In [7]:
optimize!(alloy)

In [8]:
JuMP.getobjectivevalue(alloy)

98121.63579168124

In [9]:
DataFrame(material = RAW.material, Usage = value.(material))

7×2 DataFrame
│ Row │ material          │ Usage   │
│     │ String            │ Float64 │
├─────┼───────────────────┼─────────┤
│ 1   │ Iron alloy 1      │ 400.0   │
│ 2   │ Iron alloy 2      │ 0.0     │
│ 3   │ Iron alloy 3      │ 39.7763 │
│ 4   │ Cooper alloy 1    │ 0.0     │
│ 5   │ Cooper alloy 2    │ 2.76127 │
│ 6   │ Aluminium alloy 1 │ 57.4624 │
│ 7   │ Aluminium alloy 2 │ 0.0     │

In [10]:
# percentage of carbon
round(getvalue(carbon) / sum(value.(material)) * 100, digits = 2)

2.0

In [11]:
# percentage of cooper
round(getvalue(cooper) / sum(value.(material)) * 100, digits = 2)

0.6

In [12]:
# percentage of manganese
round(getvalue(manganese) / sum(value.(material)) * 100, digits = 2)

1.2